#search-icon-div {
  display: flex;
}

#search-bar {
  height: 44px;
  box-shadow: none;
  width: 640px;
  max-width: 584px;

}

#input-box {
  background-color: transparent;
  border: none;
  width: 100%;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  outline: none;
  display: flex;
  height: inherit;
  font-size: 20px;
  flex: 100%;
  font-family: Arial, sans-serif;
  color: rgba(0,0,0,.87);
}

#page-div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#google-logo {
  display: flex;
  flex-direction: column;
  margin-top: 28vh;
  margin-bottom: 30px;
}

#input-div {
  padding-top: 3px;
  display: flex;
  height: 44px;
  background: #fff;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  margin: 0 auto;
  width: 100%;
  margin-bottom: auto;
  max-width: 640px;
  min-width: 580px;
  justify-content: center;

}

#input-div:hover {
  box-shadow: 0 1px 6px rgba(32,33,36,.28);
  border-color: rgba(223,225,229,0);
}

#search-button {
  background-color: #f8f9fa;
  height: 54px;
  width: 134px;
  outline: none;
  border: 1px solid #f8f9fa;
  font-size: 14px;
  font-family: arial, sans-serif;
  border-radius: 4px;
}

body {
  height: 100vh;
  width: 100vw;
}